<nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
  <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
    <a class="navbar-brand brand-logo" href="index.html">
      <img src="https://static.wixstatic.com/media/6f16e4_cbde814b797645d99f98dd614aa6346b~mv2.png/v1/fill/w_560,h_188,al_c,q_85,usm_0.66_1.00_0.01/Book-Banner.webp" alt="logo" />
    </a>
    <a class="navbar-brand brand-logo-mini" href="index.html">
      <img src="https://static.wixstatic.com/media/6f16e4_cbde814b797645d99f98dd614aa6346b~mv2.png/v1/fill/w_560,h_188,al_c,q_85,usm_0.66_1.00_0.01/Book-Banner.webp" alt="logo" />
    </a>
  </div>
</nav>
