
<!-- Tabla de Usuarios-->
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">{{tabletitle}}</h4>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th> </th>
                            <th> Nombre del Libro </th>
                            <th> Nombre de Autor(es) </th>
                            <th> Fecha Publicación </th>
                            <th> Acciones </th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Repitencia-->
                        <tr *ngFor="let solicitud of solicitudes">
                            <td>
                                <img class="mr-2" src="https://img2.freepng.es/20181124/poz/kisspng-vector-graphics-book-computer-icons-encapsulated-p-5bf9f29b3c8296.9918153415431072272479.jpg" alt="image" />
                            </td>
                            <td>
                                {{solicitud.nombreLibro}}
                            </td>
                            <td>
                                {{solicitud.nombresAutor}}
                            </td>
                            <td>
                                {{solicitud.fechaPublicacion}}
                            </td>
                            <td>
                                <button type="button" class="btn btn-success" (click)="cambiarStatus(solicitud.nombreLibro)">Confirmar</button>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

